@import '../../styles/base.scss';

.thumbnail-main {
    padding: 5px;
    display: inline-block;
    float: left;
    width: 20%;
    box-sizing: border-box;
    margin-bottom: 1rem;

    .thumbnail-photo {
        width: 100%;
        height: 200px;
        overflow: hidden;
        margin: auto;

        img {
            height: 100%;
        }
    }

    .thumbnail-info {
        padding-bottom: 0.5rem;

        .thumbnail-name {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

}