@import '../../styles/base.scss';

// input form material color
$mf-input-color: #333;
$mf-border-color: rgba(0, 0, 0, 0.12);
$mf-label-color: rgba(0, 0, 0, 0.54);
$mf-active-color: rgba(0, 0, 0, 0.38);
$mf-focus-color: $main-orange;
$mf-error-color: #D9534F;

// Font Sizes
$mf-font-size: 14px;
$mf-active-font-size: $mf-font-size * 0.8;
$mf-active-top: -$mf-font-size;

// Margin & Paddings
$mf-gap: $mf-font-size * 1.5;
$mf-spacer: $mf-font-size / 8;
$mf-fieldset-margin: 0 0 $mf-gap * 2;
$mf-checkbox-gap: $mf-font-size * 2;
$mf-checkbox-top: 0;
$mf-radio-margin: $mf-font-size / -4;

// Animation
$mf-transition-speed: 0.28s;

// The Styles for the form
fieldset {
    margin: $mf-fieldset-margin;
    padding: 0;
    border: none;
}

.form-inline {
    > .form-group,
    > .button {
        display: inline-block;
        margin-bottom: 0;
    }
}

.form-group {
    position: relative;
    margin-top: ($mf-gap * 1.5);
    margin-bottom: ($mf-gap * 1.5);

    input {
        height: ($mf-font-size * 1.9);
    }

    .control-label {
        position: absolute;
        top: ($mf-font-size / 4);
        pointer-events: none;
        padding-left: $mf-spacer;
        z-index: 1;
        color: $mf-label-color;
        font-size: 14px;
        font-weight: normal;
        transition: all $mf-transition-speed ease;
    }

    .bar {
        position: relative;
        border-bottom: ($mf-font-size / 16) solid $mf-border-color;
        display: block;

        &::before {
            content: '';
            height: ($mf-font-size / 8);
            width: 0;
            left: 50%;
            bottom: ($mf-font-size / -16);
            position: absolute;
            background: $mf-focus-color;
            transition: left $mf-transition-speed ease, width $mf-transition-speed ease;
            z-index: 2;
        }
    }

    input,
    textarea {
        display: block;
        background: none;
        padding: $mf-spacer $mf-spacer ($mf-spacer / 2);
        font-size: $mf-font-size;
        border-width: 0;
        border-color: transparent;
        line-height: 1.9;
        width: 100%;
        color: transparent;
        transition: all $mf-transition-speed ease;
        box-shadow: none;
    }

    input:focus,
    input:valid,
    input.form-file,
    input.has-value {
        color: $mf-input-color;

        ~ .control-label {
            font-size: $mf-active-font-size;
            color: $mf-active-color;
            top: $mf-active-top;
            left: 0;
        }
    }

    select,
    input,
    textarea {
        &:focus {
            outline: none;

            ~ .control-label {
                color: $mf-focus-color;
            }

            ~ .bar {
                &::before {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    .info-hint {
        color: $mf-label-color;
        margin-top: 5px;
        font-size: 11px;
    }
}
