@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import './colors.scss';
@import './sorthand.scss';

html, body {
	padding: 0;
	margin: 0;
	float: none;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box !important;
	color: $main-black;
	font-weight: 500;
}

@media screen and (min-width: 1280px) {
	.container {
		display: inline-block;
		width: 80%;
		margin: 0 10%;
	}
}

@media screen and (min-width: 48px) and (max-width: 1280px) {
	.container {
		display: inline-block;
		width: 90%;
		margin: 0 5%;
	}
}

@media screen and (max-width: 480px) {
	.container {
		display: inline-block;
		width: 95%;
		margin: 0 2.5%;
	}
}
