$black: #000;
$white: #FFF;

$main-black: lighten($black, 20%);
$light-black: lighten($black, 40%);

$main-grey: lighten($black, 70%);
$light-grey: lighten($black, 90%);

$main-orange: #FA3D37;
$main-green: #AEE239;
$main-yellow: #F9D423;
